---
// src/components/sections/SectionFull.astro
import SectionTitleVar01 from "@components/ui/title/SectionTitleVar01.astro";
import { heroTitle } from "@data/sections/SectionFull/data";
//
import CardVar03 from "@components/ui/card/CardVar03.astro";
import { cardsData } from "@data/sections/SectionFull/data";
import { Image } from "astro:assets";

import { SectionImages } from "@data/sections/SectionFull/data";
import SectionVar02 from "@components/sections/SectionVar02/SectionVar02.astro";
import { StaVar02 } from "@data/sections/StaVar02.ts";
---

<div class="section-full">
    <div class="section-full__container">
        <SectionTitleVar01
            title={heroTitle.title}
            subtitle={heroTitle.subtitle}
        />
        <div class="section-full__header">
            <Image
                src={SectionImages.top.src}
                alt={SectionImages.top.alt}
                width={SectionImages.top.width}
                height={SectionImages.top.height}
                widths={SectionImages.top.widths}
                sizes={SectionImages.top.sizes}
            />
        </div>
        <div class="section-full__wrapper section-padding">
            <Image
                src={SectionImages.left.src}
                alt={SectionImages.left.alt}
                width={SectionImages.left.width}
                height={SectionImages.left.height}
                widths={SectionImages.left.widths}
                sizes={SectionImages.left.sizes}
            />

            <Image
                src={SectionImages.right.src}
                alt={SectionImages.right.alt}
                width={SectionImages.right.width}
                height={SectionImages.right.height}
                widths={SectionImages.right.widths}
                sizes={SectionImages.right.sizes}
            />
        </div>
        <div class="section-full__body">
            {
                cardsData.map((item) => (
                    <CardVar03
                        id={item.id}
                        price={item.price}
                        action={item.action}
                        title={item.title}
                        description={item.description}
                    />
                ))
            }
        </div>
    </div>
</div>
<SectionVar02
    description={StaVar02.description}
    btnText={StaVar02.description}
/>

<style lang="scss">
    @use "@styles/base/mixins/grid" as grid;
    @use "@styles/base/media-new" as *;

    .section-full {
        img {
            width: 100%;
            height: auto;
            border-radius: var(--border-radius-large);
        }
        &__header {
            margin-bottom: var(--space-grid-gap);
        }

        &__wrapper {
            @include grid.grid-1-columns;
            //767px и более
            @media (min-width: $tablet-small) {
                @include grid.grid-2-columns;
            }
        }
        &__body {
            @include grid.grid-1-columns;

            //599px и более
            @media (min-width: $mobile-large) {
                @include grid.grid-2-columns;
            }
            //767px и более
            @media (min-width: $tablet-small) {
                @include grid.grid-3-columns;
            }
        }
    }
</style>
