---
// src/components/ui/card/cv100.astro
import { Image } from "astro:assets";
import type { ImageMetadata } from "astro";
import Cv06 from "@components/ui/card/Cv06.astro";
import type { Cv06Props } from "@components/ui/card/Cv06.astro";

import img01 from "@assets/temp/images/552x360-01.jpg";

type Cv100ImageData = {
    src: ImageMetadata;
    alt: string;
    width?: number;
    height?: number;
};

export interface Cv100Props {
    btntext?: string;
}

const {
    btntext = "connected-segment",
    src = img01,
    alt = "описание изображения",
    width = 552,
    height = 360,
} = Astro.props;
---

<div class="cv100">
    <div class="cv100__images">
        <Image src={src} , alt={alt} , width={width} ,height={height} />
    </div>
    <div class="cv100__wrapper">
        <Cv06 />
        <button class="connected-segment connected-segment--xsmall"
            >{btntext}</button
        >
    </div>
</div>

<style lang="scss">
    @use "@styles/base/media-new.scss" as *;
    .cv100 {
        width: 100%;
        margin-left: auto;
        margin-right: auto;
        position: relative;
        &__images {
            img {
                border-radius: var(--border-radius-large);
                width: 100%;
                height: auto;
                margin-bottom: 12px;
            }
        }

        &__wrapper {
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: end;
            gap: var(--space-grid-gap);
        }
    }

    //599px и более
    @media (min-width: $mobile-large) {
        .cv100 {
            display: flex;
            max-width: 936px;
            &__wrapper {
                position: absolute;
                bottom: 60px;
                right: 20px;
                max-width: 456px;
            }
        }
    }
</style>
